page-list-master {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-master {
    width: 100%;
    background: white;
    position: absolute;
  }

}
